@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mobile-nav-styling {
    @apply fixed right-0 top-0 z-40 h-full w-[67%] transform py-8 pl-8 text-white backdrop-blur-nav transition-transform delay-200 duration-300 md:hidden;
  }

  .navNumbers-styling {
    @apply mr-3 font-barlow-condensed text-base font-bold tracking-nav-number;
  }

  .navText-styling {
    @apply relative cursor-pointer font-barlow-condensed text-base font-normal tracking-nav-text md:py-[38.5px];
  }

  /* Active state for mobile view */
  .navText-styling.active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%; /* Full height for the vertical line in mobile */
    width: 3px;
    background-color: white;
    transition: all 0.3s ease;
  }

  /* Active state for larger screens */
  @media (min-width: 768px) {
    .navText-styling.active::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-color: white;
      transition: all 0.3s ease;
    }

    /* Hover effect for tablet and desktop */
    .navText-styling:hover::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 0; /* Start with 0 width */
      background-color: white;
      opacity: 0.5; /* 50% opacity on hover */
      transition: all 0.3s ease; /* Smooth transition */
    }

    /* Animate width from 0 to 100% on hover */
    .navText-styling:hover::after {
      width: 100%; /* Expand the line from 0 to 100% */
    }
  }
  .explore-button {
    position: relative;
    transition: all 0.3s ease;
  }

  .explore-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    transform: translate(-50%, -50%) scale(0); /* Initially hidden */
    transition: all 0.3s ease; /* Smooth transition */
  }

  .explore-button:hover::before {
    transform: translate(-50%, -50%) scale(1); /* Show the transparent circle on hover */
  }
}
